// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mayonnaise {
  width: 100%;
  margin: auto;

  li {
    display: inline-block;
    width: 306px;
    height: 306px;
    margin: 0px 10px 10px 0px;
  }
}